name: my_workflowcolors

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]  # Activar en la creaci贸n y sincronizaci贸n del pull request

env:
  PULL_REQUEST_TITLE: ${{ github.event.pull_request.title }} 
  PULL_REQUEST_URL: ${{ github.event.pull_request.html_url }}
  PULL_REQUEST_AUTHOR: ${{ github.event.pull_request.user.login }}
  PULL_REQUEST_EVENT_NAME: ${{ github.event_name }}
  PULL_REQUEST_LOGS_URL: ${{ github.event.repository.html_url }}/actions/runs/${{ github.run_id }}
  PULL_REQUEST_COMMIT_URL: ${{ github.event.pull_request.head.repo.html_url }}/commit/${{ github.event.pull_request.head.sha }}

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Slack message on build start
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: C07G7NCBVQW
          payload: |
            {
              "channel": "C07G7NCBVQW",
              "text": " Atenci贸n: Se ha creado o sincronizado un Pull Request.",
              "attachments": [
                {
                  "color": "#FFA500",
                  "text": "Detalles del Pull Request:\n*T铆tulo:* ${{ env.PULL_REQUEST_TITLE }}\n*Autor:* ${{ env.PULL_REQUEST_AUTHOR }}\n*Enlace:* ${{ env.PULL_REQUEST_URL }}\n*Commit:* ${{ env.PULL_REQUEST_COMMIT_URL }}\n*Logs:* ${{ env.PULL_REQUEST_LOGS_URL }}"
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

      - name: Slack message with build result
        if: success() || failure()
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: C07G7NCBVQW
          payload: |
            {
              "channel": "C07G7NCBVQW",
              "text": " Resultado de la construcci贸n del Pull Request.",
              "attachments": [
                {
                  "color": "${{ job.status == 'success' && '#36a64f' || job.status == 'failure' && '#ff0000' || '#FFA500' }}",
                  "text": "Estado del trabajo: ${{ job.status }}\nEnlace a los logs: ${{ env.PULL_REQUEST_LOGS_URL }}"
                }
              ]
            }
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
